In [5]:
import numpy as np
import pandas as pd

In [6]:
l=[1,1,1,1,2,2,2,2,3,4,4,4]

In [7]:
from scipy import stats

In [8]:
stats.mode(l)

ModeResult(mode=array([1]), count=array([4]))

In [9]:
df=pd.read_csv("Iris - Iris.csv")

In [10]:

setosa=df['Species']=="Iris-setosa"
setosa

0       True
1       True
2       True
3       True
4       True
       ...
145    False
146    False
147    False
148    False
149    False
Name: Species, Length: 150, dtype: bool

In [11]:
df[setosa].describe()

             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

In [13]:
data = {
    'age_group': ['Young', 'Young', 'Young', 'Middle-aged', 'Middle-aged', 'Middle-aged', 'Elderly', 'Elderly', 'Elderly'],
    'income': [30000, 35000, 40000, 50000, 55000, 60000, 45000, 48000, 52000]
}

df = pd.DataFrame(data)

# Group by age groups and calculate summary statistics for income
summary_stats = df.groupby('age_group')['income'].describe()

# Convert summary statistics to a list
summary_stats_list = summary_stats.values.tolist()

summary_stats_list

[[3.0,
  48333.333333333336,
  3511.884584284246,
  45000.0,
  46500.0,
  48000.0,
  50000.0,
  52000.0],
 [3.0, 55000.0, 5000.0, 50000.0, 52500.0, 55000.0, 57500.0, 60000.0],
 [3.0, 35000.0, 5000.0, 30000.0, 32500.0, 35000.0, 37500.0, 40000.0]]