In [65]:
import pandas as pd
import numpy as np
import math

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
%matplotlib inline

In [10]:
import PyPDF2
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ishan\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [13]:
sentence="Hi my name is Ishan. I am computers student."
token=nltk.sent_tokenize(sentence)
token

['Hi my name is Ishan.', 'I am computers student.']

In [14]:
words="Hallo my name is ishan. What's yours?"
token=nltk.word_tokenize(words)
token

['Hallo', 'my', 'name', 'is', 'ishan', '.', 'What', "'s", 'yours', '?']

In [17]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize,sent_tokenize

In [19]:
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\ishan\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

True

In [21]:
nltk.pos_tag(token)

[('Hallo', 'NNP'),
 ('my', 'PRP$'),
 ('name', 'NN'),
 ('is', 'VBZ'),
 ('ishan', 'JJ'),
 ('.', '.'),
 ('What', 'WP'),
 ("'s", 'VBZ'),
 ('yours', 'JJR'),
 ('?', '.')]

In [24]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ishan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [26]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [29]:
example="This is a sample sentence, showing off stop words filteration."
stop_words=set(stopwords.words('english'))
word_tokens=word_tokenize(example)

l=[]
for w in word_tokens:
    if w not in stop_words:
        l.append(w)

print("tokens:",word_tokens)
print("stop word removed:",l)

tokens: ['This', 'is', 'a', 'sample', 'sentence', ',', 'showing', 'off', 'stop', 'words', 'filteration', '.']
stop word removed: ['This', 'sample', 'sentence', ',', 'showing', 'stop', 'words', 'filteration', '.']

In [43]:
from nltk.stem.porter import PorterStemmer
stemming=PorterStemmer()
word="ishan says he would be studying but is busy admiring sakushi's immaculate beauty"
token=word_tokenize(word)
for w in token:
    print(f"Actual: {w},stem: {stemming.stem(w)}")

Actual: ishan,stem: ishan
Actual: says,stem: say
Actual: he,stem: he
Actual: would,stem: would
Actual: be,stem: be
Actual: studying,stem: studi
Actual: but,stem: but
Actual: is,stem: is
Actual: busy,stem: busi
Actual: admiring,stem: admir
Actual: sakushi,stem: sakushi
Actual: 's,stem: 's
Actual: immaculate,stem: immacul
Actual: beauty,stem: beauti

In [44]:
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
lemma=WordNetLemmatizer()
for w in token:
    print(f"Actual: {w},  lemma: {lemma.lemmatize(w)}")

Actual: ishan,  lemma: ishan
Actual: says,  lemma: say
Actual: he,  lemma: he
Actual: would,  lemma: would
Actual: be,  lemma: be
Actual: studying,  lemma: studying
Actual: but,  lemma: but
Actual: is,  lemma: is
Actual: busy,  lemma: busy
Actual: admiring,  lemma: admiring
Actual: sakushi,  lemma: sakushi
Actual: 's,  lemma: 's
Actual: immaculate,  lemma: immaculate
Actual: beauty,  lemma: beauty

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ishan\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [45]:
#part 2

In [48]:
first="Data Science is the best job of 21st century"
second="Machine learning is the key for data science"

firstSen=first.split(" ")
secondSen=second.split(" ")

final=set(firstSen).union(set(secondSen))
print(final)

{'job', 'Science', '21st', 'Data', 'science', 'Machine', 'key', 'of', 'best', 'for', 'data', 'century', 'is', 'the', 'learning'}

In [50]:
dictA=dict.fromkeys(final,0)
dictB=dict.fromkeys(final,0)

for w in firstSen:
    dictA[w]+=1
    
for w in secondSen:
    dictB[w]+=1
    
pd.DataFrame([dictA,dictB])

,job,Science,21st,Data,science,Machine,key,of,best,for,data,century,is,the,learning
0,1,1,1,1,0,0,0,1,1,0,0,1,1,1,0
1,0,0,0,0,1,1,1,0,0,1,1,0,1,1,1

In [62]:
#TF
def TF(words,doc):
    d={}
    corpusCount=len(doc)
    for w,c in words.items():
        d[w]=c/float(corpusCount)
    return(d)
tfFirst=TF(dictA,firstSen)
tfSecond=TF(dictB,secondSen)
pd.DataFrame([tfFirst,tfSecond])

,job,Science,21st,Data,science,Machine,key,of,best,for,data,century,is,the,learning
0,0.111111,0.111111,0.111111,0.111111,0.000,0.000,0.000,0.111111,0.111111,0.000,0.000,0.111111,0.111111,0.111111,0.000
1,0.000000,0.000000,0.000000,0.000000,0.125,0.125,0.125,0.000000,0.000000,0.125,0.125,0.000000,0.125000,0.125000,0.125

In [68]:
#IDF

def IDF(doc):
    d={}
    count=len(doc)
    d=dict.fromkeys(doc[0].keys(),0)
    for w,val in d.items():
        d[w]=math.log10(count/(float(val)+1))
    return d
idfs=IDF([dictA,dictB])

In [70]:
idfs

{'job': 0.3010299956639812,
 'Science': 0.3010299956639812,
 '21st': 0.3010299956639812,
 'Data': 0.3010299956639812,
 'science': 0.3010299956639812,
 'Machine': 0.3010299956639812,
 'key': 0.3010299956639812,
 'of': 0.3010299956639812,
 'best': 0.3010299956639812,
 'for': 0.3010299956639812,
 'data': 0.3010299956639812,
 'century': 0.3010299956639812,
 'is': 0.3010299956639812,
 'the': 0.3010299956639812,
 'learning': 0.3010299956639812}

In [71]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
        return(tfidf)
#running our two sentences through the IDF:
idfFirst = computeTFIDF(tfFirst, idfs)
idfSecond = computeTFIDF(tfSecond, idfs)
#putting it in a dataframe
pd.DataFrame([idfFirst, idfSecond])

        job
0  0.033448
1  0.000000